@page "/"

<PageTitle>Индекс</PageTitle>

<h1>Индекс страха и жадности на основе эмоционального окраса публикаций текстовых сообщений участников торгов на Московской бирже</h1>

Расчет индекса ведется на основе публикаций в социальной сети для трейдеров "Пульс"
